{% extends "flask_base.html" %}
{% block content %}
<script src="{{url}}"></script>
<main>
<div class="off-canvas position-left is-transition-push"
     id="offCanvasLeft"
     data-off-canvas
     data-position="left"
     aria-hidden="true">
  <button class="close-button float-right" aria-lebal="Close menu"
          type="button" data-close>
    <span class="close-marker" aria-hidden="true">x</span>
  </button>
  <br/><br/>
  <ul class="mobile-ofc vertical menu">
    <li>
      <div class="top-bar filter-title-bar">
        <div class="top-bar-left">
          <span class="safe-level-title">Safe Level Filter</span>
          <ul class="vertical menu">
            <li class="safe-level-item has-tip" data-tooltip
                aria-haspopup="true" data-disable="false" title="All">
              <i class="fa fa-square fa-2x safe-level-all"
                 aria-hidden="true"></i>
            </li>
            <li class="safe-level-item has-tip" data-tooltip
                aria-haspopup="true" data-disable="false" title="Better">
              <i class="fa fa-square fa-2x safe-level-good"
                 aria-hidden="true"></i>
            </li>
            <li class="safe-level-item has-tip" data-tooltip
                aria-haspopup="true" data-disable="false" title="Neutral">
              <i class="fa fa-square fa-2x safe-level-neutral"
                 aria-hidden="true"></i>
            </li>
            <li class="safe-level-item has-tip" data-tooltip
                aria-haspopup="true" data-disable="false" title="Worse">
              <i class="fa fa-square fa-2x safe-level-bad"
                 aria-hidden="true"></i>
            </li>
        </div>
        <div class="top-bar-right">
          <button class="button float-left tiny" type="button"
                  data-toggle="example-dropdown">
            <span class="menu-button-face">Crime Filter</span>
          </button>
          <div class="dropdown-pane" id="example-dropdown"
               data-dropdown>
            <ul class="vertical dropdown menu">
              {% for button in buttons %}
              <li class="crime-filter-button">
                <a href="#"
                   data-bind="click: setCategory.bind($data, '{{button['category']}}')">
                  <span data-tooltip aria-haspopup="true" class="has-tip"
                        title="{{button['desc']}}">
                    <img src="{{button['image']}}"/>
                  </span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </li>
    <ul class="submenu menu vertical" data-submenu>
      <li class="submenu-title">Area List</li>
      {% for loc in locations %}
      <li class="submenu-item"
          data-bind="event: { mouseover:
          setCurrent.bind($data,'{{loop.index}}','{{loc['lat']}}','{{loc['lng']}}')}">
        <a href="#"
           data-bind="click: setCurrent.bind($data,'{{loop.index}}','{{loc['lat']}}','{{loc['lng']}}')">
          {{loc['name']}}
        </a>
      </li>
      {% endfor %}
    </ul>
  </ul>
</div>
<div class="off-canvas-content" data-off-canvas-content>
  <div class="expended row">
    <div class="medium-6 large-6 columns">
        <button type="button" class="menu-icon dark"
                data-toggle="offCanvasLeft" aria-expanded="false"
                aria-controls="offCanvasLeft">
        </button>
    </div>
    <div class="medium-6 large-6 columns">
      <div class="float-right" id="error-area"></div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="small-12 columns">
      <div id="map" data-bind="anothermap: {mapState: mapState,
                               centerLat: 35.845170,
                               centerLng: -78.673948,
                               areaname: 'center'}"></div>
    </div>
  </div>
</main>
{% endblock %}
